.App {
    text-align: center;
}
.App-logo {
    height: 80px;
}
.App-header {
    background-color: #3e4247;
    padding: 20px;
    color: white;
}
.App-header h1 {
    display: inline-block;
    padding-left: 20px;
}
.Diet-filter {
    padding: 20px;
}
.App-intro {
    font-size: large;
}
.Space {
    padding-bottom: 1em;
}
.Producer-name {
    text-align: left;
}
.Producer-link {
    height: 6em;
    border: none;
    background-color: #f5f5f5;
}
.Producer-title {
    margin-right: 145px;
}
.Producer-link img {
    height: 100%;
}
.Categories {
    text-align: left;
    padding-left: 20px;
}
.Diet-info {
    text-align: left;
}
.Producer-block {
    height: 60px;
}
.Producer-block h3 {
    display: inline-block;
    padding-left: 20px;
}
.Producer-block img {
    height: 100%;
    padding-right: 20px;
}
.Producer-row {
  padding-left: 31px;
  padding-right: 31px;
}
@media (min-width: 768px) and (max-width: 991px) {
    .Diet-info {
        min-height: 20px;
    }
    .Producer-row {
      padding-right: 0px;
    }
}
@media (min-width: 992px) and (max-width: 1199px) {
    .Product-card h4 {
        min-height: 38px;
    }
    .Diet-info {
        min-height: 40px;
    }
    .Producer-row {
      padding-right: 0px;
    }
}
@media (min-width: 1200px) {
    .Product-card h4 {
        min-height: 38px;
    }
    .Diet-info {
        min-height: 20px;
    }
    .Producer-row {
      padding-right: 0px;
    }
}
.Back-button {
    text-align: left;
    padding-left: 31px;
}
@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
